<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu label="root-menu" id="root-menu">
		<item label="Firefox" icon="firefox">
			<action name="Execute"><command>firefox --name firefox</command></action>
		</item>
		<item label="Telegram Desktop" icon="telegram">
			<action name="Execute"><command>telegram-desktop --</command></action>
		</item>
		<item label="Thunderbird" icon="thunderbird">
			<action name="Execute"><command>thunderbird --name thunderbird</command></action>
		</item>
		<item label="File Manager" icon="org.xfce.thunar">
			<action name="Execute"><command>thunar</command></action>
		</item>
		<separator/>	
		<menu id="Miscellaneous" label="Miscellaneous">
			<item label="LocalSend" icon="localsend">
				<action name="Execute"><command>/nix/store/dhyhij4g2mzrs4bkmhx12gzj9d0lgv6l-localsend-1.15.0/bin/localsend_app</command></action>
			</item>
			<item label="Czkawka" icon="com.github.qarmin.czkawka">
				<action name="Execute"><command>czkawka_gui</command></action>
			</item>
		</menu> <!-- Accessories -->
		<separator/>	
		<menu id="Development" label="Development">
			<item label="btop++" icon="btop">
				<action name="Execute"><command>alacritty -e btop</command></action>
			</item>
			<item label="Helix" icon="helix">
				<action name="Execute"><command>alacritty -e helix</command></action>
			</item>
			<item label="Godot 4" icon="godot">
				<action name="Execute"><command>/nix/store/a8w8z8xidwirlshcyxxldmxx1lskcqp7-godot4-4.2.2-stable/bin/godot4</command></action>
			</item>
		</menu>
		<separator/>	
		<menu id="Games" label="Games">
			<item label="Lutris" icon="lutris">
				<action name="Execute"><command>lutris</command></action>
			</item>
			<item label="Steam" icon="steam">
				<action name="Execute"><command>steam</command></action>
			</item>
		</menu> <!-- Games -->
		<separator/>	
		<!-- <item label="Tablet Mode"> -->
			<!-- <action name="Execute"><command>kanshictl switch tablet</command></action> -->
		<!-- </item> -->
		<!-- <item label="Laptop Mode"> -->
			<!-- <action name="Execute"><command>kanshictl switch laptop</command></action> -->
		<!-- </item> -->
		<!-- <separator/> -->
		<menu id="System" label="System">
			<item label="Screenshot" icon="org.xfce.screenshooter">
				<action name="Execute"><command>sh -c &#39;grim -g &#34;$(slurp)&#34; - | swappy -f -&#39;</command></action>
			</item>
			<item label="Network Configuration" icon="preferences-system-network">
				<action name="Execute"><command>nm-connection-editor</command></action>
			</item>
			<item label="File Manager Settings" icon="org.xfce.thunar">
				<action name="Execute"><command>thunar-settings</command></action>
			</item>
			<item label="labwc-tweaks" icon="labwc_tweaks">
				<action name="Execute"><command>labwc-tweaks</command></action>
			</item>
			<item label="PulseAudio Volume Control" icon="multimedia-volume-control">
				<action name="Execute"><command>pavucontrol</command></action>
			</item>
			<item label="Removable Drives and Media" icon="org.xfce.volman">
				<action name="Execute"><command>thunar-volman-settings</command></action>
			</item>
		</menu> <!-- System -->
		<menu label="System Settings" id="System Settings">
			<item label="Reconfigure">
				<action name="Reconfigure"></action>
			</item>
			<item label="Logout">
				<action name="Exit"></action>
			</item>
			<item label="Reboot">
				<action name="Execute" command="systemctl reboot"></action>
			</item>
			<item label="Shutdown">
				<action name="Execute" command="systemctl poweroff"></action>
			</item>
		</menu>
	</menu> <!-- root-menu -->
 


	<menu label="sys-menu" id="sys-menu">
		<item label="Reconfigure">
			<action name="Reconfigure"></action>
		</item>
		<item label="Logout">
			<action name="Exit"></action>
		</item>
		<item label="Reboot">
			<action name="Execute" command="systemctl reboot"></action>
		</item>
		<item label="Shutdown">
			<action name="Execute" command="systemctl poweroff"></action>
		</item>
	</menu>
</openbox_menu>
