* {
	background-image: none;
}
window {
	background-color: rgba(00, 00, 00, 0.8);
}
button {
    color: #FFFFFF;
	background-color: #111111;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #333333;
	outline-style: none;
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
